.blogBodyContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 0.25rem;
}

@media screen 
  and (min-device-width: 1025px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  
    .blogBodyContainer{
      flex-direction: row;
      align-items: start;
      margin: 1rem;
      box-sizing: content-box;
    }
}


