.RightBottomContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: blue;
}
.RbBlogHeadDiv {
  margin: 0 0.4rem 0.9rem 0;
  padding: 0rem;
  background-color: red;
}
.RbBlogHeadDiv h1 {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: left;
  font-size: 1.7rem;
}
.RbBlogBodyDiv {
  margin: 0;
  padding: 0;
  background-color: yellow;
}
.RbBlogBodyDiv p {
  margin: 0;
  padding: 0.2rem 0.6rem 1rem 0;
  background-color: yellow;
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.6rem;
}
