.blogLeftContainer {
  width: 90%;
  max-width: 450px;
  margin: 0 0.5rem 0 0.5rem;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .blogLeftContainer{
      display: flex;
      height: 22vh;
      max-width: 800px;
      margin: 0.5rem;
      align-items: center;
      border-bottom: 1.2px rgba(128, 128, 128, 0.15) solid;
    }
}

@media screen 
  and (min-device-width: 1025px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  
    .blogLeftContainer{
      order: 0;
      width: 25%;
      height: 80vh;
      border-right: 1.2px rgba(128, 128, 128, 0.15) solid;
    }
}

