.LeftTopContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 0.5rem 1rem;
  /* background-color: blue; */
  margin-bottom: 1rem;
}
.LtBlogHeadDiv {
  margin: 0;
  padding-bottom: 0.5rem;
  /* background-color: red; */
}
.LtBlogHeadDiv h1 {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
}
.LtBlogBodyDiv {
  margin: 0;
  padding: 0;
  /* background-color: yellow; */
}
.LtBlogBodyDiv p {
  margin: 0;
  padding: 0.2rem 0.6rem 1rem 0;
  /* background-color: yellow; */
  text-align: left;
  font-size: 0.85rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7rem;
}
