.blogMainContainer {
  width: 90%;
  max-width: 450px;
  margin: 0.5rem 0.5rem 0 0.5rem;
}
.mainSubgroupContainer{
  padding: 0;
  margin: 0;
}

@media only screen 
  and (min-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .blogMainContainer{
      display: flex;
      max-width: 800px;
      height: max(40vh, 750px);
      margin-bottom: 0.5rem;
      border-bottom: 1px rgba(128, 128, 128, 0.15) solid;
      padding-bottom: 0.7rem;
    }
    .mainSubgroupContainer{
      width: 40%;
      height: 100%;
      padding: 0.7rem;
    }
}

@media screen 
  and (min-device-width: 1025px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .blogMainContainer{
      display: flex;
      order: 1;
      width: 50%;
      height: max(45vh, 875px);
      max-width: none;
      margin: 0 0.5rem;
      border-bottom: none;
    }
    .mainSubgroupContainer{
      width: 40%;
      height: 100%;
      padding: 0.5rem;
      overflow: hidden;
    }
} 
