.MtImageDiv {
  position: relative;
  margin-bottom: 0.5rem;
  padding: 0;
  width: 100%;
  height: 35vh;
}
.MainTopContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 0.5rem 1rem;
  /* background-color: green; */
  margin-bottom: 1rem;
}
.MtBlogHeadDiv {
  margin: 0;
  padding: 0;
}
.MtBlogHeadDiv h1 {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
}
.blogBox{
  border-bottom: 1.2px rgba(128, 128, 128, 0.15) solid;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .MainTopContainer{
      height: 50%;
    }

   .MtImageDiv {
      height: 27vh;
    }

}
@media screen 
  and (min-device-width: 1025px) 
  /* and (max-device-width: 1600px)  */
  and (-webkit-min-device-pixel-ratio: 1) { 

    .MainTopContainer{
      height: 50%;
    }
    .MtImageDiv {
      height: 27vh;
    }
}
