.st0{display:none;}
.st1{display:inline;}
.st2{fill:#231F20;}
.st3{display:inline;fill:none;stroke:#231F20;stroke-width:2;stroke-miterlimit:10;}
.st4{fill:none;stroke:#231F20;stroke-width:2;stroke-miterlimit:10;}
.st5{fill:#231F20;stroke:#231F20;stroke-width:2;stroke-miterlimit:10;}
.st6{fill:#6D6E70;stroke:#231F20;stroke-width:2;stroke-miterlimit:10;}
.st7{fill:none;stroke:#231F20;stroke-width:6;stroke-miterlimit:10;}
.main{enable-background:new 0 0 612 792}