.navContainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  padding: 0.7rem;
  background-color: rgb(71, 71, 71);
  color: white;
  font-family: "Merriweather", serif;
  box-sizing: border-box;
}

.navContainer h3{
  margin: 0.1rem;
  /* padding: 0.1rem; */
}
