html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ======================================================================== */
/* ===========================Main Featured================================ */
/* ======================================================================== */

.MtImageSizer {
  position: relative;
  max-width: 100%;
  object-fit: fill;
  
}
.MtImageDiv {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 250px;
}
.MainFeaturedContainer {
  display: flex;
  flex-direction: column;
  width: 65vw;
  max-width: 350px;
  background-color: green;
}
.MtBlogHeadDiv {
  margin: 0.5rem 0.4rem 0.5rem 0;
  padding: 0rem ;
  /* background-color: red; */
}
.MtBlogHeadDiv h1 {
  margin: 0;
  padding: 0;
  /* display: flex; */
  text-align: left;
  font-size: 1.7rem;
}
.MtBlogBodyDiv {
  margin: 0;
  padding: 0;
  background-color: yellow;
}
.MtBlogBodyDiv p {
  margin: 0;
  padding: 0.2rem 0.6rem 1rem 0;
  /* background-color: yellow; */
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.6rem;
}


/* ======================================================================== */
/* ===========================Main Top===================================== */
/* ======================================================================== */

